.bg{
    width: 100%;
    height: 100%;
    background-color: #F9BE02;
}
.discussion{
    color: white;
    padding-left: 20px;
    padding-top: 70px;
}
.marginbottom10{
    margin-bottom: 10px;
}
.discussionTable{
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.name_and_date{
    margin-bottom: 2px;
}
table{
    width: 100px;
}
.heightDiscussion{
    min-height: 50%;
}