body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #02C8A7,rgb(16, 121, 153));
    
  }
  
  #mathgame {
      text-align: center;
      color: rgb(255, 255, 255,1);
      width: 70vw;
      background: rgb(224, 224, 224,0.6);
      padding: 5vw;
      border-radius: 10px;
  }

  #mathgame h1 {
      font-size: 9vw;
      
  }

  #answer {
      width: 100%;
      height: 100%;
      background: none;
      color: #fff;
      border: none;
      border-bottom: 2px solid rgb(255, 255, 255);
      font-size: 9vw;
      position: relative;
      bottom: 15px;
  }
