body {
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Coming Soon', cursive;    
    background-color: #FF5AF8;
}

@media screen and (max-width: 920px) {
    div.section-body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 921px ) {
    div.section-body {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}