{% extends 'base.html' %}

{% load static %}

{% block additionalHeaders %}
    <title>Mathgame</title>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
    <link href="{% static 'css/mathgame.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
{% endblock additionalHeaders %}

{% block content %}
    
{% csrf_token %}
<div class="points">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col">
            {{user.username}}
        </div>
        <div class="col">
            <p id="points">points:{{points}}</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            {{answer_form.name}}
        </div>
        <div class="col">
            <p id="points">points:{{points}}</p>
        </div>
    </div>
    {% endif %}
</div>

<div class="section-body container" id="mathgame">
    
        <div class="row">
            <div class="col">
                <h1 id="operasi">{{operasi}} = </h1>
            </div>
            <div class="col-4">
                {{answer_form.answer}}
            </div>
            <input type="submit" value="submit" class="btn btn-primary btn-block btn-lg my-3" id="submit" >
        </div>
    
</div>



{% endblock content%}

