{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'css/namelogin.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders%}

{% block content %}
    <style>
        body{
            background: linear-gradient(to right, #FF5AF8, #FFFF);
        }
    </style>
    <div class="section-body" >
        <h1 class="title-landing-page">Login</h1>
        <div class = "form-pick">
        <form method = "POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <button type="submit" class="btn btn-danger btn-sm btn-block">Login</button>
        </form>
        </div>
        <div class = "sign-up">Don't have an account? <a href="{% url 'signup' %}">Sign up!</a></div>
    </div>
{% endblock content %}