{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'feedback/css/feedback.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders %}

{% block content %}
    <div class="section-body">
        <h2 class="title-feedback">User's Feedback for MatheMagic!</h2>
        <table style="width: 80%">
            <tr>
                <th>Name</th>
                <th>Message</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{ post.name }}</td>
                    <td>{{ post.message }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}