{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'feedback/css/feedback.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'feedback/js/feedback.js' %}"></script>
{% endblock additionalHeaders%}

{% block content %}
<div class="section-body, light">
    <label id="circle" class="circle">🌓</label>
    {% csrf_token %}
    {% if user.is_authenticated %}
        <h2 class="title-feedback">Leave your thought here {{ user.username }}!</h2>
    {% else %}
         <h2 class="title-feedback">Leave your thought here!</h2>
    {% endif %}
    <div class="section-image">
        <img
                src="https://pngimage.net/wp-content/uploads/2018/05/confused-girl-png-8.png"
                alt="questioning-girl"
                class="section-image"
        />
    </div>
        {% csrf_token %}
        <table>
            <tr>
                {{ post_form.as_table }}
            </tr>
        </table>
         <br/>
    <button class="btn btn-warning btn-sm btn-block" style="align-self: center" id="id_button">Send!</button>
    <br/>
        <h4 id="ubah"></h4>
    <br/>
    <div class="messages">
        {% if messages %}
            <div>
            {% for message in messages %}
                <h5{% if message.tags %} class="message.tags" {% endif %}> {{ message }} </h5>
            {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
    <script src="{% static 'feedback/js/feedback.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#id_button").on('click',
    function () {
        var nameInput = $("#id_name").val();
        var messageInput = $("#id_message").val();
                console.log(nameInput)
                        console.log(messageInput)
        $.ajax({
            type: "POST",
            url : "/feedback/masukan_data/",
            data: {
                'name' : nameInput,
                'message' : messageInput,
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
            },
            success: function(result){
                alert("Your message successfully posted, " + result.name + "!")
                $("#id_name").val("");
                $("#ubah").empty();
                var value = result.banyakData + " math lovers have sent us messages"
                $("#ubah").append(value);
            }
        })
    }
)

</script>
{% endblock content %}
