{% extends 'base.html' %}
{% load static %}

{% block additionalHeaders %}
    <link href="{% static 'css/namelogin.css' %}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon|Fredoka+One&display=swap" rel="stylesheet">
{% endblock additionalHeaders%}

{% block content %}
    <style>
        body{
            background: linear-gradient(to right, #FF5AF8, #FFFF);
        }
    </style>
    <div class="section-body" >
        {% if user.is_authenticated %}
        <h1 class="title-landing-page">Welcome, {{ user.username }}!</h1>
        <h3>Your points: <a id="poin"></a></h3>
        <h5>Want to gain more? Let's <a style="color: black;" href= "{% url 'mathgame' %}">play!</a></h5>
        <button class="btn btn-danger btn-sm btn-block"  value="Save"><a href="{% url 'logout' %}">Logout</a></button>
        {% else %}
        <h1 class="title-landing-page">Welcome, stranger!</h1>
        <div class="sign-in">Please <a href="{% url 'login' %}">log in</a></div>
        <div class = "sign-up">Don't have an account? <a href="{% url 'signup' %}"> Sign up!</a></div>
        <p>You can still play without account, but your points will not tally up.</p>
        <p id="ubah"></p>
        {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        $("document").ready(
        function panggilData() {
            $.ajax({
                type : "GET",
                url : "/get_data/",
                dataType : "json",
                success : function (result) {
                    $("#ubah").empty();
                    $("#poin").empty();
                    var value = "<i>Sudah ada "+result.banyak_data+" orang yang bergabung dengan kami</i>"
                    var poin = result.banyak_poin
                    $("#ubah").append(value);
                    $("#poin").append(poin);
                    setTimeout(function() {
                        panggilData();
                    }, 15000);    
                }
            })
        }
    )
    </script>
  {% endblock content %}
  